<!DOCTYPE html>
<html lang="en" ng-app="toDoList">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="styles.css">
  <title>Gulp Demo</title>
  <h1 id="main"> To Do List</h1>

</head>

<body ng-controller="ToDoController as vm">

  <input type="text" class="form-control" placeholder="To Do List Item" ng-model="vm.toDoObject.toDoItem">


  <select class="form-control" ng-model="vm.toDoObject.priorities">
    <option value="3">High Priority</option>
    <option value="2">Medium Priority</option>
    <option value="1">Low Priority</option>
  </select>


  <button type="button" class="btn btn-default btn-lg btn-block" ng-click="vm.alpha()" ng-class="{reverse: reverse}">Sort Alphabetically</button>
  <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="vm.prior()" ng-class="{reverse: reverse}">Sort by Priority</button>
  <button class="add-btn" type="button" ng-click="vm.addItem()">Add Item</button>

  <ul>To Do:
    <li ng-bind="::vm.toDoObject.toDoItem" ng-repeat="toDo in vm.toDoList | orderBy:'toDo':false" ng-class="::{'high':vm.toDoObject.priorities ==3, 'medium':vm.toDoObject.priorities ==2, 'low':vm.toDoObject.priorities ==1}">
    </li>

  </ul>



  <!-- bower:js -->
  <script src='bower_components/angular/angular.js'></script>
  <!-- endbower -->
  <!-- inject:js -->
  <!-- endinject -->
</body>

</html>
