<!DOCTYPE html>
<html lang="en" ng-app="toDoList">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="styles.css">
  <title>Gulp Demo</title>
  <h1 id="main"> To Do List</h1>
  <!-- bower:css -->
  <!-- endbower -->

  <!-- inject:css -->

  <!-- endinject -->
</head>

<body ng-controller="ToDoController as vm">

  <input type="text" class="form-control" placeholder="To Do List Item" ng-model="vm.toDoObject.toDoItem">


  <select class="form-control" ng-model="vm.toDoObject.priorities">
    <option ng-class="High">High Priority</option>
    <option ng-class="Medium">Medium Priority</option>
    <option ng-class="Low">Low Priority</option>
  </select>


  <button type="button" class="btn btn-default btn-lg btn-block" ng-click="sortBy('vm.toDoObject.toDoItem')">Sort Alphabetically</button>
  <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="sortBy('vm.toDoObject.priorities')">Sort by Priority</button>
  <button class="add-btn" type="button" ng-click="vm.addItem()">Add Item</button>

  <ul>To Do:
    <li ng-repeat="toDo in vm.toDoList">
      <span ng-class="{priorities:High,Medium,Low}">
{{toDo}}
</span></li>

  </ul>



  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="ToDoController.js"></script>
  <!-- endbower -->
  <!-- inject:js -->
  <!-- endinject -->
</body>

</html>
